<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/myCSS.css">
    </head>
    <body id="logReg">
        <div id="layoutMade">
            <h1>Create Login</h1>
            <form id="formLayout" action="/register" method="POST">
                <div>
                    <label for="name">User</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" required>
                </div>
                <section>
                    <button id="submit" type="submit">Submit</button>
                </section>
                <a id="login" href="/login">Login</a>
            </form>
        </div>
    </body>
</html>